@section Css{
    <style>
        p{
            font-size: 30px;
        }
    </style>
}
<div class="container-fluid" style="background-color:#B22222; text-align:center;  font-size:45px">
    <div class="row" style="padding-top:30px ;  padding-left:30px; padding-right:30px; ">
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-truck-medical fa-2xl"></i>
                <br>
                <br>
                <p> Acil</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-tooth fa-2xl"></i>
                <br>
                <br>
                <p> Ağız Ve Diş Sağlığı</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-utensils fa-2xl"></i>
                <br>
                <br>
                <p> Beslenme Ve Diyetetik</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-brain fa-2xl"></i>
                <br>
                <br>
                <p> Beyin Ve Sinir Cerrahisi</p>
            </a>
        </div>
    </div>
    <div class="row" style=" padding-left:30px; padding-right:30px">
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-flask fa-2xl"></i>
                <br>
                <br>
                <p> Biyokimya </p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-child fa-2xl"></i>
                <br>
                <br>
                <p> Çocuk Sağlığı Ve Hastalıkları</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-hand-dots fa-2xl"></i>
                <br>
                <br>
                <p> Dermatoloji (Cildiye) </p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-hand-scissors fa-2xl"></i>
                <br>
                <br>
                <p> El Cerrahisi ve Mikrocerrahi</p>
            </a>
        </div>
    </div>
    <div class="row" style="padding-left:30px; padding-right:30px; ">
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-virus fa-2xl"></i>
                <br>
                <br>
                <p> Enfeksiyon Hastalıkları</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-wheelchair fa-2xl"></i>
                <br>
                <br>
                <p> Fizik Tedavi ve Rehabilitasyon</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-scissors fa-2xl"></i>
                <br>
                <br>
                <p> Genel Cerrahi</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-bed fa-2xl"></i>
                <br>
                <br>
                <p> Genel Yoğun Bakım</p>
            </a>
        </div>
    </div>
    <div class="row" style="padding-left:30px; padding-right:30px; ">
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-lungs fa-2xl"></i>
                <br>
                <br>
                <p> Göğüs Hastalıkları</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-eye fa-2xl"></i>
                <br>
                <br>
                <p>Göz Sağlığı Ve Hastalıkları</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-pills fa-2xl"></i>
                <br>
                <br>
                <p> İç Hastalıklar</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-skull fa-2xl"></i>
                <br>
                <br>
                <p> Nöroloji</p>
            </a>
        </div>
    </div>
    <div class="row" style="padding-left:30px; padding-right:30px; ">
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-venus fa-2xl"></i>
                <br>
                <br>
                <p> Kadın Hastalıkları ve Doğum</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-heart-pulse fa-2xl"></i>
                <br>
                <br>
                <p>Kalp Ve Damar Cerrahisi</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-ear-listen fa-2xl"></i>
                <br>
                <br>
                <p> Kulak Burun Boğaz</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-bone fa-2xl"></i>
                <br>
                <br>
                <p> Ortopedi</p>
            </a>
        </div>
    </div>
    <div class="row" style="padding-bottom:30px; padding-left:30px; padding-right:30px; ">
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-radiation fa-2xl"></i>
                <br>
                <br>
                <p> Radyoloji</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-microscope fa-2xl"></i>
                <br>
                <br>
                <p> Patoloji</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-prescription-bottle fa-2xl"></i>
                <br>
                <br>
                <p> Üroloji</p>
            </a>
        </div>
        <div class="col-sm-3 p-5 text-white" style="border-style:solid; border-width:1px;">
            <a href="" style="color:white; text-decoration:none;">
                <i class="fa-solid fa-baby fa-2xl"></i>
                <br>
                <br>
                <p> Yenidoğan Yoğun Bakım</p>
            </a>
        </div>
    </div>
</div>
