
@model Hastane_Proje.Models.HastaneContext

@section Css{
    <style>
        div.kutucuk{
            padding:20px;
            margin:0px 20px 0px 20px;
            background-color:white;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            color:black;
        }
    </style>
}

<div class="container-fluid" style="background-color:mistyrose;width:30% ;height: 90% ; margin:auto; padding:10px">
   
    <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="2" style="text-decoration:none;">
    <div class="kutucuk" style="margin-top:20px">
            <i class="fa-solid fa-stethoscope"></i>Ağız ve Diş Sağlığı   
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="3" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> Beslenme ve Diyetetik
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="4" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> Beyin ve Sinir Cerrahisi
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="8" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> Çocuk Hastalıkları
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="9" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> Dermatoloji (Cildiye)
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="10" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> El Cerrahisi ve Mikrocerrahi
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="11" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> Enfeksiyon Hastalıkları
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="12" style="text-decoration:none;">
    <div class="kutucuk">

            <i class="fa-solid fa-stethoscope"></i> Fiziksel Tıp ve Rehabilitasyon
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="13" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> Genel Cerrahi
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="15" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> Göğüs Hastalıkları
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="17" style="text-decoration:none;">
    <div class="kutucuk">
       
            <i class="fa-solid fa-stethoscope"></i> Göz Hastalıkları
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="18" style="text-decoration:none;">
    <div class="kutucuk">
       
            <i class="fa-solid fa-stethoscope"></i> İç Hastalıkları
       
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="19" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> Nöroloji
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="20" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> Kadın Hastalıkları ve Doğum
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="21" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> Kalp ve Damar Cerrahi
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="22" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> Kulak Burun Boğaz
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="23" style="text-decoration:none;">
    <div class="kutucuk">
        
            <i class="fa-solid fa-stethoscope"></i> Ortopedi
        
    </div>
    </a>
     <a asp-controller="Randevu" asp-action="DoktorSecimi" asp-route-id="31" style="text-decoration:none;">
    <div class="kutucuk" style="margin-bottom:20px">
        
            <i class="fa-solid fa-stethoscope"></i> Üroloji
        
    </div> 
    </a>
   

</div>
