
<br />
<br />
<h1>İletişim Formu </h1>
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <form asp-action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="name" class="control-label">Adınız:</label>
                <input for="name" class="form-control" />
            </div>
            <br />
            <br />
            <div class="form-group">
                <label for="email" class="control-label">E-posta:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label for="message" class="control-label">Konu Başlığı:</label>
                <textarea id="message" class="form-control" name="message" rows="4" required></textarea>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label for="message" class="control-label">Mesajınız:</label>
                <textarea id="message" class="form-control"  name="message" rows="4" required></textarea>
            </div>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6" style="padding-left:80px; text-align:center">
        
        <iframe style="width:500px; height:400px "src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6045.789000000282!2d30.31964309465151!3d40.7423469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccaded70ee240b%3A0xd81085b5551312fd!2sBilgisayar%20Ve%20Bili%C5%9Fim%20Bilimleri%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1703943714941!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br />
        <h1><b style="color:#B22222">İletişim Bilgileri</b></h1>
        <br />
        <p> Kemalpaşa Mah. Üniversite Cad. Sakarya Üniversitesi Serdivan/Sakarya</p>
        <br />
        <p><b style ="color:#B22222"> Whatsap Hattı: </b> 0545 678 66 53 </p>
        <br />
        <p><b style="color:#B22222"> Telefon: </b>  0 212 693 93 93 </p>
        <br />
        <p><b style="color:#B22222"> E-posta: </b> info@ozelhospital.com.tr </p>

    </div>
</div>

